<ion-view title="About" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="about-heading3" style="color:#000000;">About this test...</h1>
    <div id="about-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The purpose of this test is to determine your core color personality.</p>

      <p style="color:#000000;">Once you find out, a brief explanation will be given about your core color so you know more about yourself!</p>

      <p style="color:#000000;">Consisting of 30 questions, the test takes about 10 minutes to complete.</p>

      <p style="color:#000000;">If you want more information visit taylorhartman.com!</p>
    </div>
    <a ui-sref="preTest()" id="about-button15" class="button button-positive button-block">Begin the Test</a>
  </ion-content>
</ion-view>