<ion-view title="Pre-test" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="preTest-heading2" style="color:#000000;text-align:center;">For each question:</h1>
    <div id="preTest-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Think back to your earliest childhood. While it is hard to be objective and unbiased when answering questions, don't worry too much about what you answer. </p>

      <p style="color:#000000;">Be honest. The more sincere and objective your answer is, the more accurate your results will be!</p>
    </div>
    <button id="preTest-button8" class="button button-calm button-block">Begin the test!</button>
  </ion-content>
</ion-view>